.git
.github
.vscode
build
build-*
_codeql_build_dir
**/node_modules
*.log
deploy
docs
third_party
test-network.sh
test-checkpoint-cycles.sh
LICENSE
.gitignore
.clang-tidy
.aicodeguide
AGENTS.md
**/*.md
!README.md
