{
  "slotDuration": __SLOT_DURATION__,
  "slotsPerEpoch": __SLOTS_PER_EPOCH__,
  "maxCustomMetaSize": 10000,
  "maxTransactionsPerBlock": 100,
  "minFeeCoefficients": [1, 1, 0],
  "freeCustomMetaSize": 1024,
  "checkpointMinBlocks": __CHECKPOINT_MIN_BLOCKS__,
  "checkpointMinAgeSeconds": __CHECKPOINT_MIN_AGE_SECONDS__
}
